<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.examendef">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".EditMateriaDef"
                android:label="@string/title_activity_edit_materia_def"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".EditarMateria2"
                android:label="@string/title_activity_editar_materia2"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".EditarMateria"
                android:label="@string/title_activity_editar_materia"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".GestionMateria"
                android:label="@string/title_activity_gestion_materia"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CrearMateria"
                android:label="@string/title_activity_crear_materia"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".EditarEstudiante"
                android:label="@string/title_activity_editar_estudiante"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CrearEditarEstudiante">
        </activity>
        <activity
                android:name=".GestionEstudiantes"
                android:label="@string/title_activity_gestion_estudiantes"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CrearEstudiante"
                android:label="@string/title_activity_crear_estudiante"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MenuEstudiante"
                android:label="@string/title_activity_menu_estudiante"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Main2Activity"
                android:label="@string/title_activity_main2"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>